* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: #004aad;
  padding: 20px;
}


nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  background-color: #e3f2fd;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 25px;
  background: #004aad;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px 20px;
  background-color: #fff;
}

.feature-box {
  width: 30%;
  min-width: 250px;
  background-color: #f0f0f0;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.about {
  padding: 50px 20px;
  background-color: #e0f7fa;
  text-align: center;
}

.testimonials {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.testimonial {
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.testimonial span {
  font-size: 0.9rem;
  display: block;
  margin-top: 10px;
  color: #666;
}

.contact {
  padding: 50px 20px;
  background-color: #e3f2fd;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.contact input,
.contact textarea {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #004aad;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}




@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    width: 80%;
  }

  nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}